@import "chat.less";
@import "chatTopics.less";
@import "contentWrapper.less";
@import "headerButton.less";
@import "historyInfoButton.less";
@import "historyOfSending.less";
@import "languageChooseButtons.less";
@import "logo.less";
@import "menuClickList.less";
@import "messenger.less";
@import "normalize.less";
@import "pageHeader.less";
@import "sendCodeButtonCounter.less";
@import "signInForm.less";
@import "taskCondition.less";
@import "test.less";
@import "testing.less";
@import "testOutput.less";
@import "timer.less";
@import "userPanel.less";

.centering-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 390px;
  margin-left: 40px;
  font-size: 22px;
}
