.messenger-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  border: solid 1px @checkup-border;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.messenger-chat__message {
  display: inline-block;
  max-width: 65%;
  margin: 15px 10px 0 10px;
  border: solid 1px @checkup-border;
  border-radius: 4px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  color: @checkup-primary;
  word-wrap: break-word;
}

.messenger-chat__message-date {
  margin-top: 10px;
  font-family: Arial;
  font-size: 10px;
  color: @checkup-primary;
  text-align: right;
}

.messenger-chat__message_to-user {
  .messenger-chat__message();
  align-self: flex-start;
  background-color: @checkup-secondary;
}

.messenger-chat__message_from-user {
  .messenger-chat__message();
  align-self: flex-end;
  background-color: @checkup-messages;
}
